# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
*.code-workspace

# Virtual environments
env/
venv/
ENV/
ENV.*/
venv.*/
